<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1" /> 
  <title>Eleventy Blog</title> 
  <link rel="stylesheet" href="/css/style.css">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Montserrat:wght@600;900&display=swap" rel="stylesheet">
</head> 
<body class="{{ body_class }}">
  <header>
    <div class="header-inner">
    <ul class="menu">
        <li><a href="/" class="">Blog</a></li><li><a href="/about">About</a></li></li><li><a href="/About">Github</a></li><li><a href="/About">Twitter</a></li>
    </ul>
    </div>
  </header> 
  <main class="container main"> 
    {{ content | safe }}
  </main> 
  <footer>
    <div class="container">
      @Jeremy James 2022
    </div>
  </footer> 
  <script src="/js/index.js"></script>
</body> 
</html>