---
layout: base-layout.njk
---
<article>
  <h1 class="blog-title">{{ title }}</h1> 
  <time class="time" datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time> 
  {{ content | safe }}
</article>